.selectionPanel {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.informationPanel {
  width: 50%;
}
.selectPanel {
  width: 40%;
}
.basicInformation {
  width: 100%;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 2%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.doctorPhoto {
  padding: 0px 5%;
  min-width: 130px;
  width: 30%;
}
.doctorPhoto img {
  width: 100%;
  border-radius: 20px;
}
.doctorInformation {
  border-left: 1px solid gray;
  width: 70%;
  padding: 0px 5%;
}
.doctorInformation h2 {
  font-size: 1.2em;
  margin: 5px 0%;
}
.doctorInformation h5 {
  font-size: 0.8em;
  margin: 5px 0%;
}
.doctorRating {
  margin: 20px 0px;
  display: flex;
}
.stars {
  display: flex;
  flex-wrap: nowrap;
  width: 120px;
}
.stars img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.doctorRating h3 {
  margin-top: 4px;
  font-size: 0.6em;
  font-weight: normal;
}
.sendMsgButton {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.sendMsgButton button {
  padding: 10px 5%;
  border-radius: 10px;
  background-color: #def3fa;
  color: #130f40;
}
.sendMsgButton button:hover {
  cursor: pointer;
  color: #0091ff;
}
.moreInformation {
  width: 100%;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.doctorAddres {
  width: 50%;
}
.doctorAddres h3 {
  font-size: 0.9em;
}
.doctorPhoneNumber {
  width: 50%;
}
.doctorPhoneNumber h3 {
  text-align: end;
  font-size: 0.9em;
}
.description {
  margin-top: 10px;
  background-color: rgb(255, 255, 255, 0.6);
  width: 100%;
  text-align: left;
  font-size: 0.8em;
  color: #130f40;
  padding: 3px 3px;
  min-height: 75px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.doctorAppointment {
  background-color: lightblue;
  border-radius: 10px;
  width: 100%;
  padding: 10px 5%;
}
.targetSelection {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.targetSelect {
  width: 50%;
  font-weight: 400;
}
.targetSelect select {
  margin-top: 10px;
  width: 100%;
}
.price {
  text-align: end;
  width: 40%;
}
.price h3 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 500;
}
.timeSelection {
  margin-top: 10px;
  text-align: center;
}
.calenderBox {
  display: flex;
  margin-top: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #def3fa;
  font-size: 1.3em;
}
.arrow:hover {
  cursor: pointer;
  color: #0091ff;
}
#smallScreen {
  display: none;
}
.calender {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.week
{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.day {
  width: 20%;
  text-align: center;
}
.day h3 {
  font-size: 0.8em;
  margin-top: 0;
}
.day button {
  margin-top: 10px;
  width: 80%;
  border-radius: 10px;
  padding: 5px 0;
  color: #130f40;
}
.freeTerm {
  background-color: #def3fa;
  color: #130f40;
}
.freeTerm:hover {
  cursor: pointer;
  color: #0091ff;
}
.emptyTerm {
  background-color: rgba(0, 0, 0, 0);
}
.bookedTerm {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: line-through;
}
#moreTerm {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background-color: #def3fa;
  color: #130f40;
  border-radius: 10px;
}
#moreTerm:hover {
  cursor: pointer;
  color: #0091ff;
}

/* ALERT!!!! */
#windowOverlay
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
}
#windowOverlay.opened
{
  opacity: 1;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
  visibility: visible;
}
.windowContent
{
  position: fixed;
  top: 300px;
  left: 50%;
  -ms-transform: translate(-50%, -50%) scale(0, 0);
  -webkit-transform: translate(-50%, -50%) scale(0, 0);
  transform: translate(-50%, -50%) scale(0, 0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  visibility: hidden;
  z-index: 10001;
  height: 150px;
}
.windowContent.opened {
  -webkit-transition: transform 300ms;
  transition: transform 300ms;
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
  visibility: visible;
  padding: 40px 5%;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
}
.windowContent .windowClose {
  margin-top: 40px;
  margin-left: -75px;
  width: 150px;

  border-radius: 10px;
  background-color: #ec3f22;
  color: #ffffff;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 1.2em;
}

.windowContent .windowClose:hover {
  text-decoration: none;
  background-color: #ec6922;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .selectionPanel {
    flex-wrap: wrap;
  }
  .informationPanel {
    width: 98%;
  }
  .selectPanel {
    width: 93%;
  }
}

@media (max-width: 600px) {
  .basicInformation {
    flex-wrap: wrap;
  }
  .doctorPhoto {
    width: 100%;
    justify-content: center;
    display: flex;
    transition: 500ms;
  }
  .doctorPhoto img {
    width: 150px;
  }
  .doctorInformation {
    border-left: 0px solid gray;
    width: 100%;
    padding: 0px 5%;
  }
  .calenderBox {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .targetSelection {
    flex-wrap: wrap;
  }
  .targetSelect{
    width: 100%;
  }
  .price{
    margin-top: 10px;
    width: 100%;
    text-align: start;
  }
  .arrow {
    width: 45%;
    margin-bottom: 20px;
  }
  .arrow button {
    width: 100%;
    height: 30px;
  }
  #smallScreen {
    display: block;
  }
  .calender {
    width: 100%;
  }
  #bigScreen {
    display: none;
  }
}
