@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #def3fa;
  flex-direction: column;
  font-style: italic;
  box-shadow: 0 0.5em 1.5em rgba(0,0,0,0.1);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  transition: top 400ms ease-in-out;
}
.topBar
{
  padding: 5px 10%;
}
.nav--up {
  top: -8rem;
}

header a {
  text-decoration: none;
  color: #0091ff;
  font-weight: bolder;
  font-size: 2.3em;
}
header a img {
  width: 30px;
}
main {
  margin-top: 150px;
  padding: 5px 10%;
  min-height: 90vh;
}

footer {
  margin-top: 40px;
  padding: 5px 10%;
  background-color: #def3fa;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.socialMedia {
  min-width: 200px;
  width: 15%;
  margin: 10px 0%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMedia a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 25px;
  color: #130f40;
  text-decoration: none;
  transition: 300ms;
}
.socialMedia a:hover {
  background-color: #fff;
  transition: 300ms;
  border: 2px solid #def3fa;
  color: #0091ff;
}

@media (max-width: 600px) {
  .socialMedia {
    min-width: 150px;
  }
}
